{% load static %}
<!DOCTYPE html>
<html lang="en" class={% block page %}none{% endblock %}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href={% static "images/red_logo.png" %}
    />
    <link rel="stylesheet" href= {% static "styles.css" %}>
    <link rel="stylesheet" href= {% static "print.css "%} media="print">
    <title>{% block title %}Main{% endblock %}</title>
  </head>
  <body>
    {% block content %} {% endblock %} <script src={% static "main.js" %}?v=1 ></script>
    <script src={% static "main2.js" %}?v=1></script>
  </body>
</html>
