{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="https://media.istockphoto.com/photos/letter-m-picture-id183369212?k=6&m=183369212&s=612x612&w=0&h=Hona598c_40rJuYZKthNdeWYDwScMBJT2BBftMgMmRs="
    />
    <link rel="stylesheet" href= {% static "styles.css" %}>
    <title>{% block title %}Main{% endblock %}</title>
  </head>
  <body>
    {% block content %} {% endblock %} <script src={% static "main.js" %}?v=1 ></script>
    <script src={% static "main2.js" %}?v=1></script>
  </body>
</html>
