{% extends "base.html" %}{% load static %} 
{% block page %}titleBackground{% endblock page%}
<!---->
{% block title %}MicahSoft Workbook{% endblock title %} 
<!---->
{% block content %}

<div class="bigTitle">
  <h1>
    MicahSoft <br />
    Workbook
  </h1>
</div>
<div class="projectHolder">
  
</div>
<div class="createProjectHolder">
  
    <input type="text" class="createProject" required placeholder="Name new project here" maxlength=40 ></input>
    <button class="createProjectButton">Create</button>
  
</div>
<script src={% static "main3.js" %}?v=1></script>
{% endblock %}
