{% extends "base.html" %} {% load static %}
<!---->
{% block title %} {{ name }} {% endblock title %}
<!---->
{% block content %}

<div class="toolBar">
  <div class="brand">MicahSoft Workbook</div>
  <div class="buttonHolder">
    <div class="customBar">
      <div>Row:</div><input type="text" placeholder="Start" maxlength="4" class="customInput customStart" title="Cell that opperation starts on.">
      <input type="text" placeholder="End" maxlength="4" class="customInput customEnd"  title="Cell that opperation ends on.">
      <button class="customFunction" title="None Selected">ƒ</button>
      <input type="text" placeholder="Result" maxlength="4" class="customInput customResult" title="Cell that the result is printed at.">
      <div>Column:</div><input type="text" placeholder="Start" maxlength="4" class="customInput customStart" title="Cell that opperation starts on.">
      <input type="text" placeholder="End" maxlength="4" class="customInput customEnd" title="Cell that opperation ends on.">
      <button class="customFunction" title="None Selected">ƒ</button>
      <input type="text" placeholder="Result" maxlength="4" class="customInput customResult" title="Cell that the result is printed at.">
    </div>
    <button id="customButton" class="tool" title="Custom Function">Custom</button>
    <button id="refresh" class="tool" title="Clear">Clear</button>
    <button id="saveButton" class="tool" title="Save Recent">Save</button>
    <button id="loadButton" class="tool" title="Load Recent">Load</button>
    <button id="restoreButton" class="tool" title="Restore From File">
      Restore
    </button>
    <button id="printButton" class="tool" title="Print">Print</button>
    <button id="helpButton" class="tool" title="View Instructions">
      <a href={% url "help" %}>Help</a>
    </button>
  </div>
</div>

<div class="spreadSheetHolder">
    <div class="dataSquare both">{{ number }}</div>
    <div class="indexSquare horizontal">A</div>
    <div class="indexSquare horizontal">B</div>
    <div class="indexSquare horizontal">C</div>
    <div class="indexSquare horizontal">D</div>
    <div class="indexSquare horizontal">E</div>
    <div class="indexSquare horizontal">F</div>
    <div class="indexSquare horizontal">G</div>
    <div class="indexSquare horizontal">H</div>
    <div class="indexSquare horizontal">I</div>
    <div class="indexSquare horizontal">J</div>
    <div class="indexSquare horizontal">K</div>
    <div class="indexSquare horizontal">L</div>
    <div class="indexSquare horizontal">M</div>
    <div class="indexSquare horizontal">N</div>
    <div class="indexSquare horizontal">O</div>
    <div class="indexSquare horizontal">P</div>
    <div class="indexSquare horizontal">Q</div>
    <div class="indexSquare horizontal">R</div>
    <div class="indexSquare horizontal">S</div>
    <div class="indexSquare horizontal">T</div>
    <div class="indexSquare horizontal">U</div>
    <div class="indexSquare horizontal">V</div>
    <div class="indexSquare horizontal">W</div>
    <div class="indexSquare horizontal">X</div>
    <div class="indexSquare horizontal">Y</div>
    <div class="indexSquare horizontal">Z</div>
    <div class="indexSquare horizontal">Function</div>
</div>
<script src={% static "main.js" %}?v=1 ></script>
<script src={% static "main2.js" %}?v=1></script>
{% endblock content %}
