{% extends "base.html" %} {% block title %} {{ name }} {% endblock title %}
{%block content%}

<div class="toolBar">
  <div class="brand">MicahSoft Workbook</div>
  <div class="buttonHolder">
    <button id="refresh" class="tool" title="Clear">Clear</button>
    <button id="saveButton" class="tool" title="Save Recent">Save</button>
    <button id="loadButton" class="tool" title="Load Recent">Load</button>
    <button id="restoreButton" class="tool" title="Restore From File">
      Restore
    </button>
    <button id="printButton" class="tool" title="Print">Print</button>

    <button id="helpButton" class="tool" title="View Instructions">
      <a href={% url "help" %}>Help</a>
    </button>
  </div>
</div>

<div class="spreadSheetHolder">
  <div class="dataSquare">{{ number }}</div>
  <div class="indexSquare">A</div>
  <div class="indexSquare">B</div>
  <div class="indexSquare">C</div>
  <div class="indexSquare">D</div>
  <div class="indexSquare">E</div>
  <div class="indexSquare">F</div>
  <div class="indexSquare">G</div>
  <div class="indexSquare">H</div>
  <div class="indexSquare">I</div>
  <div class="indexSquare">J</div>
  <div class="indexSquare">K</div>
  <div class="indexSquare">L</div>
  <div class="indexSquare">M</div>
  <div class="indexSquare">N</div>
  <div class="indexSquare">O</div>
  <div class="indexSquare">P</div>
  <div class="indexSquare">Q</div>
  <div class="indexSquare">R</div>
  <div class="indexSquare">S</div>
  <div class="indexSquare">T</div>
  <div class="indexSquare">U</div>
  <div class="indexSquare">V</div>
  <div class="indexSquare">W</div>
  <div class="indexSquare">X</div>
  <div class="indexSquare">Y</div>
  <div class="indexSquare">Z</div>
  <div class="indexSquare">Function</div>
</div>

{% endblock content %}
